<launch>

  <param name="robot_description" textfile="$(find carter_description)/urdf/carter.urdf" />

  <!-- robot_state_publisher pubblica il joint_state sul tf  -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <node name="jsp_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find carter_description)/config/demo.rviz" required="true" />

</launch>