<launch>

  <param name="robot_description" textfile="$(find carter_description)/urdf/carter.urdf" />

  <!-- robot_state_publisher pubblica il jpoint_state sul tf per visualizzarlo in rviz -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <node name="jsp_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />

<!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ag_pan_tilt)/config/head.rviz" required="true" /> -->

</launch>